<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="IcdPackage" value="http://nuget.icdgroup.org:5555/v3/index.json" />
		<add key="IcdPackageV6" value="http://nuget.icdgroup.org:5560/v3/index.json" />
    </packageSources>
</configuration>
